<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Book Rental</title>

</head>

<body>
    <header>
        <h1>Online Book Rental Details</h1>
        <nav>
            <ul>
                <% dataBooks.forEach(product=> { %>
                    <li>
                        <h2>
                            <%= product.productTitle %>
                        </h2>
                        <p>Description: <%= product.productDescription %>
                        </p>
                        <p>Price: <%= product.productPrice %> บาท</p>
                    </li>
                    <% }); %>
            </ul>
        </nav>
    </header>

    <main>

    </main>

    <footer>
        <p>&copy; 2024 Online Book Rental</p>
    </footer>
</body>

<!-- นี้คือไฟล์ booksDetail.ejs -->

</html>