<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Book Rental</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f8f9fa;
            /* สีพื้นหลัง */
            color: #333;
            /* สีข้อความ */
            padding: 20px;
        }

        header {
            background-color: #343a40;
            /* สีพื้นหลัง header */
            color: #fff;
            /* สีข้อความ header */
            padding: 20px;
            text-align: center;
        }

        h1 {
            margin-bottom: 20px;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            text-align: center;
        }

        nav ul li {
            display: inline;
            margin-right: 20px;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

        main {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <header>
        <h1>Online Book Rental Details</h1>
        <nav>
            <ul>
                <% dataBooks.forEach(product=> { %>
                    <li>

                        <p>
                            <%= product.productTitle %>
                        </p>
                        <p>Description: <%= product.productDescription %>
                        </p>
                        <p>Price: <%= product.productPrice %> บาท</p>

                    </li>
                    <% }); %>
            </ul>
        </nav>
    </header>

    <main>

    </main>

    <footer>
        <p>&copy; 2024 Online Book Rental</p>
    </footer>
</body>

<!-- นี้คือไฟล์ booksDetail.ejs -->

</html>