<!-- products.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Book Rental</title>

</head>
<body>
    <header>
        <h1>Online Book Rental Title</h1>
        <nav>
            <ul>
                <% dataBooks.forEach(product => { %>
                    <li><a href="/books/<%= product.productTitle %>"><%= product.productTitle %></a></li>
                <% }); %>
            </ul>
        </nav>
    </header>
    
    <main>

    </main>
    
    <footer>
        <p>&copy; 2024 Online Book Rental</p>
    </footer>
</body>
</html>
